<html>
    <head></head>
    <body>
        <h1>{{ data["today"] }} Market sentiment report</h1>
        Financial advisor read today {{artclesCount}} articles from {{ feedCount }} about {{ symbolsCount}} symbols
        {% for feeds in groupedFeedsByTicker %} 
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>New Articles</th>
                    <th>Positive</th>
                    <th>Negative</th>
                    <th>Neutral</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>^SPY</td>
                    <td>10</td>
                    <td>4 80%</td>
                    <td>3 44%</td>
                    <td>3 66%</td>
                </tr>
            </tbody>
        </table>
        <div>
            <img src="data:image/png;base64, {{data['today']}}" alt="" />
        </div>
    </body>
</html>